body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}

/* Grid Layout */
.grid-container {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    grid-template-columns: 1fr;
    min-height: 100vh;
    gap: 10px;
    padding: 10px;
}

/* Header */
.header {
    background-color: #1a1a1a;
    color: white;
    text-align: center;
    padding: 10px 0;
}

/* Navigation Bar */
.navbar ul {
    display: flex;
    justify-content: center;
    padding: 0;
    background-color: #0078d4;
    list-style: none;
    margin: 0;
}

.navbar ul li {
    margin: 0 10px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
}

.navbar ul li a:hover {
    background-color: #0056a1;
    border-radius: 5px;
}

/* Main Content */
.main-content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.main-content img {
    border-radius: 10px;
    width: 100%;
    height: auto;
    max-width: 400px; /* Max-width so that large images can fit bruh*/
    display: block;
    margin: 0 auto;
}

/* Character List */
.character-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.character img {
    width: 100%;
    height: auto;
    max-width: 200px;
    display: block;
    margin: 0 auto;
}

/* Footer */
.footer {
    background-color: #1a1a1a;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 10px;
}